<a href="https://colab.research.google.com/github/SangMini2/MachineLearning_for_AI/blob/main/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [26]:
lst = pd.DataFrame({"name" : ["장영진" , "김진재", "장효정","이상민"] , "Nationality" : ["KOREA", "KOREA", "KOREA","KOREA"] , "Hobby" : ["Listening Music" , "Traveling" , "Sleeping","Reading Books"], "Major" : ["Statistics" , "Statistics","Statistics","Math"] ,"num":[1,2,3,4]})
lst

  name Nationality            Hobby       Major  num
0  장영진       KOREA  Listening Music  Statistics    1
1  김진재       KOREA        Traveling  Statistics    2
2  장효정       KOREA         Sleeping  Statistics    3
3  이상민       KOREA    Reading Books        Math    4

In [27]:
lst.set_index("name" , inplace = True)
lst

     Nationality            Hobby       Major  num
name
장영진        KOREA  Listening Music  Statistics    1
김진재        KOREA        Traveling  Statistics    2
장효정        KOREA         Sleeping  Statistics    3
이상민        KOREA    Reading Books        Math    4

In [29]:
lst.num.idxmax()

'이상민'

In [30]:
lst["num"].idxmin()

'장영진'

In [31]:
lst.num.mean()

2.5

In [32]:
lst.num.median()

2.5

In [33]:
lst.num.var()

1.6666666666666667

In [35]:
lst.num.std()

1.2909944487358056

In [14]:
lst.to_csv("week3")

In [15]:
out = pd.read_csv("week3")

In [16]:
out

  name Nationality            Hobby       Major
0  장영진       KOREA  Listening Music  Statistics
1  김진재       KOREA        Traveling  Statistics
2  장효정       KOREA         Sleeping  Statistics
3  이상민       KOREA    Reading Books        Math